header, footer, nav, section {
	display: block;
}

body {
	color: #889098;
}



.top_navigation {
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: large;
	font-family: helvetica,sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
	text-decoration: none;
	outline: none;
}


.FolderLink {
	text-decoration: none;
	outline: none;
}

.Img {
	margin:0;
	margin-top:0;
	margin-bottom:0;
}

.Fol {
	text-align: left;
	margin: 0;
	vertical-align: middle;
}

.Vid {
	text-align: left;
	margin: 0;
	vertical-align: middle;

}

.I {
	border: 0 solid black;
}

.images-list {
	margin: auto;
	width: 90%;
	margin-bottom: 10px;
}

.videos-list {
	margin: auto;
	width: 90%;
	margin-bottom: 10px;
}

.folder-desc {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 90%;
	text-align: center;
	font-size: smaller;
	font-family: helvetica,sans-serif;
	font-style: italic;
	background-color: transparent;
}

.folders-list {
	margin: auto;
	width: 90%;
	margin-bottom: 10px;
}

.F {
	border: none;
	padding: 4px;
	resize: both;
}

.V {
	border: none;
	padding: 2px;
	resize: both;
}

.folder-name {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: helvetica,sans-serif;
	font-weight: bold;
	font-size: large;
	padding: 2px;
	text-align: right;
	text-shadow: 4px 3px 2px #404040;
	width: 45%;
}

.video-name {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: helvetica,sans-serif;
	font-weight: bold;
	font-size: medium;
	padding: 2px;
	text-align: right;
	text-shadow: 3px 2px 1px #404040;
	width: 30%;
}

.ImgName {
	font-weight: bold;
	font-size: 18px;
	outline: none;
}

.ExifInfo {
	font-family: helvetica,sans-serif;
	font-size: 16px;
	outline: none;
}

.GpsInfo {
	font-family: helvetica,sans-serif;
	font-size: 14px;
	font-style: italic;
}


a.NoDecorationLink:link, a.NoDecorationLink, a.NoDecorationLink:hover, a.NoDecorationLink:active {
	color: #889098;
	text-decoration: none;
}

.cmnt{

	font-style:italic;
	font-size: 14px;
	font-family:'Times New Roman', Times, serif;
}


footer {
	text-align: center;
	font-size: 12px;
	font-family: Arial, sans-serif;
}


.bottom-info-bar {
	font-style: italic;
}